@import url("../fonts/font.css");

:root {
  --main-txt-color: #999999;
  --main-title-color: #111111;
  --highlight-color: #8260ff;
}

/* general */
html,
body {
  font-family: "Apercu Web";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  height: 100%;
  width: 100%;
  color: var(--main-txt-color);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
footer,
header,
hgroup,
section {
  display: block;
}

h3 {
  font-weight: 600;
  font-size: 2.5rem;
  text-transform: uppercase;
  /* color: var(--main-title-color); */
  margin: 0;

  color: rgba(0, 0, 0, 0);  
  text-stroke-color: black);
  text-stroke-width: 1px;
  -moz-text-fill-color: rgba(0, 0, 0, 0);
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  -moz-text-stroke-color: black;
  -webkit-text-stroke-color: black;
  -moz-text-stroke-width: 1px;
  -webkit-text-stroke-width: 1px;
}

h2 {
  font-weight: 600;
  font-size: 3.4rem;
  line-height: 4.4rem;
  color: var(--main-title-color);
}

p {
  font-weight: 300;
}

a:hover {
  color: var(--highlight-color);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Header */
header {
  padding-top: 40px;
}

#logo {
  display: inline;
  position: relative;
}

.black-logo {
  width: 45px;
}

#logo a img:last-child {
  display: none;
}

#logo a:hover img:last-child {
  display: inline;
}

#logo a:hover img:first-child {
  display: none;
}

/* nav */
nav {
  float: right;
  text-align: right;
  margin-top: 10px;
}

nav ul {
  list-style-type: none;
  display: inline;
}

nav li {
  display: inline;
  margin-left: 30px;
}

nav a {
  color: var(--main-title-color);
  text-decoration: none;
  font-weight: 500;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav li::after {
  content: "";
  width: 20px;
  height: 1px;
  background: grey;
  display: inline-block;
  margin: 0 0 3px 30px;
}

nav li:last-child::after {
  width: 0;
  height: 0;
  margin: 0;
}

/* Main */
main,
header {
  margin: 0 230px;
}

/* Hero */
#hero {
  width: 100%;
  height: 68vh;
  position: relative;
  overflow: hidden;
}

.hero-content {
  max-width: 750px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

/* Porfolio */
.portfolio {
  position: relative;
  margin: 0 auto;
  background: white;
}

.item {
  display: block;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 90px;
}

.item-content {
  position: relative;
  height: 100%;
}

.item:nth-of-type(2n + 0) .item-content {
  margin-left: 20%;
}

.item:nth-of-type(2n + 1) .item-content {
  margin-right: 20%;
}

.item-content img {
  width: 100%;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.item-content img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.item-title {
  position: absolute;
  bottom: -15px;
  left: -20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.item-category {
  position: absolute;
  top: 90px;
  width: 200px;
  right: -110px;

  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.item-content:hover .item-title h3 {
  color: rgb(130,96,255);  
  text-stroke-color: rgb(130,96,255);
  text-stroke-width: 1px;
  -moz-text-fill-color: rgb(130,96,255);
  -webkit-text-fill-color: rgb(130,96,255);
  -moz-text-stroke-color:rgb(130,96,255);
  -webkit-text-stroke-color: rgb(130,96,255);
  -moz-text-stroke-width: 1px;
  -webkit-text-stroke-width: 1px;
}
}

.item-content:hover .item-title {
  bottom: -30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.item-content:hover .item-title::before {
  content: "See project";
  font-size: 0.9rem;
  position: absolute;
  bottom: -35px;
  left: -50px;
  width: 100px;
  -webkit-animation: slide 0.5s forwards;
  animation: slide 0.5s forwards;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

.item p {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.item-category a {
  font-size: 0.9rem;
  color: var(--main-txt-color);
  text-decoration: none;
  margin-left: 15px;
}

.githublink:hover {
  color: var(--highlight-color);
}

.githublink::before {
  content: "\2193";
  margin-right: 15px;

  display: inline-block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.item:nth-of-type(4n + 3) .item-category {
  left: -110px;
}

.item:nth-of-type(4n + 3) .item-title {
  left: auto;
  right: -20px;
}

.item:nth-of-type(4n + 0) .item-category {
  left: -110px;
}

.item:nth-of-type(4n + 0) .item-title {
  left: auto;
  right: -20px;
}

/* Modal */
#modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--main-title-color);
  overflow: scroll;
}

.loading {
  width: 60px;
  height: 60px;
  background-image: url(../images/loading.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 99999;
}

#close-modal {
  width: 40px;
  height: 40px;
  color: white;
  font-weight: 300;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  background: var(--main-title-color);
  border: white solid 2px;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 7777;
}

#close-modal::before {
  content: "\00d7";
}

#close-modal:hover {
  background: white;
  color: var(--main-title-color);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.hide-modal {
  display: none;
}

.modal-content {
  margin: 50px;
}

.modal-img {
  margin: 50px;
  height: 400px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.modal-img img {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#modal h3 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

#modal h3::before {
  content: "";
  width: 30px;
  height: 1px;
  background: var(--highlight-color);
  display: inline-block;
  position: absolute;
  top: 1rem;
  left: -50px;
}

.modal-description {
}

#button-container {
  text-align: center;
  margin-top: 50px;
}

.modal-button {
  width: 110px;
  height: 40px;
  display: inline-block;
  text-align: center;
  margin: 0 20px 20px 20px;
  border: white solid 2px;
  color: white;
  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
  line-height: 40px;
  cursor: pointer;
}

.modal-button:hover {
  background: white;
  color: var(--main-title-color);
}

/* ------- ABOUT ------- */
.about {
  position: relative;
  margin: 0 auto;
}

.about-hero-content {
  width: 100%;
  max-width: 750px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.about-img {
  width: 400px;
  position: absolute;
  left: 0;
  top: 0;
}

.about-img img {
  width: 100%;
}

/* Footer */
footer {
  width: 100%;
  height: 200px;
}

/* Responsive */
@media only screen and (max-width: 1566px) {
  main,
  header {
    margin: 0 100px;
  }
}

@media only screen and (max-width: 1024px) {
  main,
  header {
    margin: 0 50px;
  }
}

@media only screen and (min-width: 880px) {
  #logo {
    z-index: 9999;
  }

  .modal-content {
    width: 40%;
    max-height: 80%;
    max-width: 40%;
    margin: 0 0 0 50%;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .modal-img {
    margin: 0;
    width: 40%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
  }

  .modal-img img {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@media only screen and (min-width: 768px) {
  .item-content {
    max-width: 36%;
  }

  /* .item-content.large {
    max-width: 50%;
  } */

  .item:nth-of-type(4n + 1) .item-content {
    margin-left: 0;
  }

  .item:nth-of-type(2n + 0) .item-content {
    margin-left: 32%;
  }

  .item:nth-of-type(3) .item-content.large {
    margin-left: 25%;
    max-width: 48%;
  }

  .item:nth-of-type(2n + 5) .item-content.large {
    max-width: 48%;
  }

  .item:nth-of-type(7n) .item-content.large {
    max-width: 36%;
  }

  .item:nth-of-type(9n) .item-content.large {
    max-width: 45%;
  }

  .item:nth-of-type(4n + 3) .item-content {
    margin-left: 64%;
  }

  .item:nth-of-type(4n + 3) .item-content.large {
    margin-left: 50%;
  }

  .item:nth-of-type(2n + 0) .item-content {
    margin-left: 30%;
  }

  .item:nth-of-type(2n + 1) .item-content {
    margin-right: 0;
  }
}

@media only screen and (max-width: 479px) {
  main,
  header {
    margin: 0 30px;
  }
}
